<div class="col-lg-3">
    <div class="row g-4">
        <!-- Card follow START -->
        <div class="col-sm-6 col-lg-12">
            <div class="card">
                <!-- Card header START -->
                <div class="card-header pb-0 border-0">
                    <h5 class="card-title mb-0">Profiles</h5>
                </div>
                <!-- Card header END -->
                <!-- Card body START -->
                <div class="card-body">
                    <!-- Connection item START -->
                    <div class="hstack gap-2 mb-3">
                        <!-- Avatar -->
                        <div class="avatar">
                            <a href="#!"><img class="avatar-img rounded-circle" th:src="@{/images/user.svg}" alt=""></a>
                        </div>
                        <!-- Title -->
                        <div class="overflow-hidden">
                            <a class="h6 mb-0" href="#!">Judy Mwaisa </a>
                            <p class="mb-0 small text-truncate">Lorem epsum</p>
                        </div>
                        <!-- Button -->
                        <a class="btn btn-primary-soft rounded-circle icon-md ms-auto" href="#"><i class="fa-solid fa-plus"> </i></a>
                    </div>
                    <!-- Connection item END -->
                    <!-- Connection item START -->
                    <div class="hstack gap-2 mb-3">
                        <!-- Avatar -->
                        <div class="avatar avatar-story">
                            <a href="#!"> <img class="avatar-img rounded-circle" th:src="@{/images/user.svg}" alt=""> </a>
                        </div>
                        <!-- Title -->
                        <div class="overflow-hidden">
                            <a class="h6 mb-0" href="#!">Khalid Mwaipopo </a>
                            <p class="mb-0 small text-truncate">Lorem epsum</p>
                        </div>
                        <!-- Button -->
                        <a class="btn btn-primary-soft rounded-circle icon-md ms-auto" href="#"><i class="fa-solid fa-plus"> </i></a>
                    </div>
                    <!-- Connection item END -->

                    <!-- Connection item START -->
                    <div class="hstack gap-2 mb-3">
                        <!-- Avatar -->
                        <div class="avatar">
                            <a href="#"> <img class="avatar-img rounded-circle" th:src="@{/images/user.svg}" alt=""> </a>
                        </div>
                        <!-- Title -->
                        <div class="overflow-hidden">
                            <a class="h6 mb-0" href="#!">Maria Jordan </a>
                            <p class="mb-0 small text-truncate">Lorem Epsum</p>
                        </div>
                        <!-- Button -->
                        <a class="btn btn-primary rounded-circle icon-md ms-auto" href="#"><i class="bi bi-person-check-fill"> </i></a>
                    </div>
                    <!-- Connection item END -->

                    <!-- View more button -->
                    <div class="d-grid mt-3">
                        <a class="btn btn-sm btn-primary-soft" href="#!">View more</a>
                    </div>
                </div>
                <!-- Card body END -->
            </div>
        </div>
        <!-- Card follow START -->

        <!-- Card News START -->
        <div class="col-sm-6 col-lg-12">
            <!--                        <div class="card">-->
            <img th:src="@{/images/bannerSample.png}" alt="">
            <!--                        </div>-->
        </div>
        <!-- Card News END -->
    </div>
</div>
