<div th:replace="~{Fragments/head}"></div>

<body>

<div th:replace="~{Fragments/MainNavbar}"></div>

<main>

<div class="container">

<div class="row g-4">

        <div th:replace="~{Fragments/NavLeft}"></div>

<!--        Main Content Start-->
    <div class="col-md-8 col-lg-6 vstack gap-4">

        <div class="card">

            <!-- Title START -->
            <div class="card-header border-0 pb-0">
                <h1 class="h4 card-title mb-0">CONFIRM BUSINESS PROFILE</h1>
                <p th:text="'Below are the details you submited.'" />
            </div>
                <!-- Title END -->

            <div class="card-body">

                <img th:src="@{'data:logo/png;base64,'+${business.getLogo}}" width="50" height="50" alt="Business Logo">
<!--                <img th:src="@{theBusiness.getLogoUrl}" width="50" height="50" alt="Business Logo">-->


                <p th:text="'Business Name: ' + ${business.businessName}" />
                <p th:text="'Email: ' + ${business.email}" />
                <p th:text="'Mobile: ' + ${business.mobile}" />
                <p th:text="'Address: ' + ${business.physicalAddress}" />
                <p th:text="'Location: ' + ${business.location}" />
                <p th:text="'Category: ' + ${business.category}" />
                <p th:text="'Tin Number: ' + ${business.tinNumber}" />
                <p th:text="'Link: ' + ${business.link}" />

                <form th:action="@{/businessList}">
                <div class="col-12 text-end">
                    <button type="submit" class="btn btn-primary mb-0">OK</button>
                </div>
                </form>

            </div>

        </div>

    </div>
<!--        Main Content End-->

    <div th:replace="~{Fragments/NavRight}"></div>

</div>

</div>

</main>
</body>

<div th:replace="~{Fragments/footer}"></div>
