<div th:replace="~{Fragments/head}"></div>

<body>

<div th:replace="~{Fragments/MainNavbar}"></div>

<main>

<!-- Container START -->

<div class="container">

  <!-- Row START -->
    <div class="row g-4">

      <!-- Left sidebarLeft -->
      <div th:replace="~{Fragments/NavLeft}"></div>

      <!-- Main content START -->
      <div class="col-md-8 col-lg-6 vstack gap-4">

            <!-- Card feed item START -->
            <div class="row g-3 mb-4">

                <div class="d-sm-flex justify-content-between align-items-center">
                    <h5 class="mb-md-0">Business Directory </h5>
                    <a href="/businessForm">Add Business</a> <br><br>

                </div>

                <!-- START CARDS DIV -->
                <div class="col-sm-6 col-md-4 col-xl-4 col-xxl-4">

                    <dl th:each="business : ${business}" class="card position-relative">
                        <dd>
<!--                            TODO: Review image classes-->
                            <div class="card-image">
                                 <img class="card-img-top" th:src="${business.getLogoUrl()}" alt="Business Logo">
                            </div>

                        </dd>

                        <dd><h3> <a class="stretched-link" th:href="@{/businessPage/{id}(id=${business.id})}"><span th:text="${business.businessName}"></span></a> </h3></dd>

                        <dd> <span th:text="'ID: ' + ${business.getId}"></span> </dd>

                        <dd> <span th:text="'Category: ' + ${business.getCategory}"></span> </dd>
                        <dd> <span th:text="'Location: ' + ${business.getLocation}"></span> </dd>

                    </dl>
                </div>

            </div>
            <!-- Card feed item END -->


        </div>
      <!-- Main content END -->

      <!-- Right sidebarRight -->
      <div th:replace="~{Fragments/NavRight}"></div>

  </div>
  <!-- Row END -->
</div>
<!-- Container END -->

</main>
</body>

<div th:replace="~{Fragments/footer}"></div>

