<div th:replace="~{Fragments/head}"></div>
<div class="gonza">

    <a href="/">Home</a>  <a href="/businessList">Directory</a>  <a href="/users">Users</a> <br><br>

    <h4>BUSINESSES</h4>
    <p th:text="'Here is a list of great businesses:'" />
    <a href="/businessForm">Add your business.</a> <br><br>

    <dl th:each="business : ${business}">

        <dd> <span th:text="${business.getId}"></span> </dd>

        <dd>
            <img th:src="${business.getLogoUrl()}" width="50" height="50" alt="">
        </dd>

        <dd><a th:href="@{/businessPage/{id}(id=${business.id})}"><b th:text="${business.businessName}"> </b></a> </dd>

        <dd> <i class="fa-solid fa-envelope"></i> <span th:text="${business.getEmail}"></span> </dd>
        <dd> <i class="fa-solid fa-phone"></i> <span th:text="${business.getMobile}"></span>  </dd>
        <dd> <i class="fa-solid fa-road"></i> <span th:text="${business.getPhysicalAddress}"></span> </dd>
        <dd> <i class="fa-solid fa-location-dot"></i> <span th:text="${business.getLocation}"></span> </dd>
        <dd> <i class="fa-solid fa-filter"></i> <span th:text="${business.getCategory}"></span></dd>
        <dd> <i class="fa-solid fa-barcode"></i> <span th:text="'Tax Number: ' + ${business.getTinNumber}"></span>  </dd>
        <dd> <i class="fa-solid fa-globe"></i> <span  th:text="${business.link}" ></span> </dd>

        <dd> <b>Reviews:</b> </dd>

            <dl th:each="rev : ${business.reviews}">
                <dd> <i class="fa-solid fa-image-portrait"></i> <span th:text="${rev.getReviewWriterName()}" style="color:blue"></span> </dd>
                <dd> <i class="fa-regular fa-comment-dots"></i> <span th:text="${rev.getReviewContent()}"> </span> </dd>
            </dl>

        <dd> <form action="#" th:action="@{/reviewParam/{businessId}(businessId=${business.id})}" method="get">
             <input type="submit" value="Add Review"  />
        </form>

            <form action="#" th:action="@{/businessEdit/{id}(id=${business.id})}" th:object="${business}" method="GET">
                <input type="submit" value="Edit" />
            </form>

            <form action="#" th:action="@{/delete/{id}(id=${business.id})}" method="get">
                <input type="submit" value="Delete" style="color:red" />
            </form>
        </dd>

        <hr>
    </dl>


</div>


<div th:replace="~{Fragments/footer}"></div>
