<div th:replace="~{Fragments/head}"></div>

<body>

<div th:replace="~{Fragments/MainNavbar}"></div>

<main>

<div class="container">

<div class="row g-4">

        <div th:replace="~{Fragments/NavLeft}"></div>

<!--        Main Content Start-->
        <div class="col-md-8 col-lg-6 vstack gap-4">

            <div class="card">

                <div class="card-header border-0 pb-0">
                    <h1 class="h4 card-title mb-0">BUSINESS PROFILE</h1>
                </div>

                <div class="card-body">

                    <p th:text="'ID: ' + ${business.id}" />

                    <!-- For images saved on MySql DB-->
                    <img th:src="@{'data:logo/png;base64,'+${business.logo}}" width="150" height="100" alt="" >


                    <!--    For images saved to AWS or Fasthub CDN-->
<!--                        <img th:src="${business.getLogoUrl()}" width="150" height="100" alt="">-->

                    <br><br>

                    <h6 th:text="${business.businessName}"></h6>

                    <p th:text="'Email: ' + ${business.email}" />
                    <p th:text="'Mobile: ' + ${business.mobile}" />
                    <p th:text="'Address: ' + ${business.physicalAddress}" />
                    <p th:text="'Location: ' + ${business.location}" />
                    <p th:text="'Category: ' + ${business.category}" />
                    <p th:text="'Tin Number: ' + ${business.tinNumber}" />
                    <p th:text="'Link: ' + ${business.link}" />

                    <b>Reviews:</b><br>

                    <dl th:each="rev : ${business.reviews}">
                        <dd> <i class="fa-solid fa-image-portrait"></i> <span th:text="${rev.getReviewWriterName()}" style="color:blue"></span> </dd>
                        <dd> <i class="fa-regular fa-comment-dots"></i> <span th:text="${rev.getReviewContent()}"> </span> </dd>
                        <dd>
                            <!-- th:action="@{/reviewEdit/{bizId}(bizId=${business.getId})/{revId}(revId=${rev.getId()})}"-->

                            <form method="GET"
                                  th:action="@{/reviewEdit/{revId}(revId=${rev.getId()})}"
                                  th:object="${review}">
                                <input type="submit" value="Edit Review"/>
                            </form>
                        </dd>
                    </dl>

                    <form action="#" th:action="@{/reviewCreate/{businessId}(businessId=${business.id})}" method="get">
                        <input type="submit" value="Add Review"  />
                    </form>

                    <form th:action="@{/businessEdit/{id}(id=${business.id})}" th:object="${business}" method="GET">
                        <input type="submit" value="Edit Profile" />
                    </form>

                    <form th:action="@{/businessDelete/{id}(id=${business.id})}">
                        <input type="submit" value="Delete Profile" style="color:red" />
                    </form>

                    <form th:action="@{/businessList}">
                        <input type="submit" value="Back to Directory" style="color:blue" />
                    </form>

                </div>

            </div>

        </div>
<!--        Main Content End-->

        <div th:replace="~{Fragments/NavRight}"></div>

</div>

</div>

</main>
</body>

<div th:replace="~{Fragments/footer}"></div>
