<div th:replace="~{Fragments/head}"></div>

<body>

<div th:replace="~{Fragments/MainNavbar}"></div>

<main>

<div class="container">

<div class="row g-4">

        <div th:replace="~{Fragments/NavLeft}"></div>

<!--        Main Content Start-->
    <div class="col-md-8 col-lg-6 vstack gap-4">

        <div class="card">

            <div class="card-header border-0 pb-0">
                <h1 class="h4 card-title mb-0">EDIT YOUR BUSINESS</h1>
                <p th:text="'Edit your business details below:'" />
            </div>

            <div class="card-body">

                <!-- TODO: Edit access to be restricted only to respective user who created the business. Spring Boot Security-->

                <p th:text="${business.getId}" style="display:none" />

                <form th:action="@{/businessUpdate/{id}(id=${business.id})}" th:object="${business}" method="post">

                    <!-- For images saved on AWS & Fasthub CDN -->
<!--                    <img th:src="@{business.getLogoUrl}" width="150" height="100" alt="Business Logo">-->

                    <!-- For images saved on MySql DB-->
                    <img th:src="@{'data:logo/png;base64,'+${business.getLogo}}" width="150" height="100" alt="Business Logo">

                    <br><br>

                    <p th:text="'ID: (*To be hidden) ' + *{id}"> <!-- TODO Hide ID -->

                    <p>Business Name: <input type="text" th:field="*{businessName}" /></p>
                    <p>Email: <input type="email" th:field="*{email}" /></p>
                    <p>Mobile: <input type="text" th:field="*{mobile}" /></p>
                    <p>Address: <input type="text" th:field="*{physicalAddress}" /></p>
                    <p>Location (e.g. Mwenge): <input type="text" th:field="*{location}" /></p>
                    <p>Category: <input type="text" th:field="*{category}" /></p>
                    <p>Tin Number: <input type="text" th:field="*{tinNumber}" /></p>
                    <p>Link - Website, Social Media, etc:</p>
                    <input type="text" th:field="*{link}" />

                    <br><br>

                    <button type="submit"> Submit </button>

                    <button type="button" style="color:red">
                        <a th:href="@{/businessPage/{id}(id=${business.id})}">Cancel</a>
                    </button>

                </form>
            </div>

        </div>

    </div>
<!--        Main Content End-->

    <div th:replace="~{Fragments/NavRight}"></div>

</div>

</div>

</main>
</body>>

<div th:replace="~{Fragments/footer}"></div>
