<div th:replace="~{Fragments/head}"></div>

<body>

<div th:replace="~{Fragments/MainNavbar}"></div>

<main>

    <!-- Container START -->

    <div class="container">

        <div class="row g-4">

            <div th:replace="~{Fragments/NavLeft}"></div>

            <!-- MAIN CONTENT START : vstack -->

            <div class="col-md-8 col-lg-6 vstack gap-4">
                <!-- Create a page START -->
                <div class="card">

                    <!-- Title START -->
                    <div class="card-header border-0 pb-0">
                        <h1 class="h4 card-title mb-0">Business Register</h1>
                    </div>
                    <!-- Title END -->

                    <!-- Create a page form START -->
                    <div class="card-body" >
                        <form class="row g-3" th:action="@{/businessSubmit}" th:object="${business}" method="POST" enctype="multipart/form-data">
                            <!-- Row 1 -->
                            <div class="col-12">
                                <label class="form-label">Business name</label>
                                <input type="text" class="form-control" placeholder="Business name (Required)" th:field="*{businessName}">
                                <small>Name of the company or trading brand.</small>
                            </div>

                            <!-- Row 2: -->

                            <!-- Phone number -->
                            <div class="col-lg-6">
                                <label class="form-label">Mobile Number 1</label>
                                <input type="text" class="form-control" placeholder="Phone number (Required)" th:field="*{mobile}">
                            </div>
<!--                            <div class="col-lg-6">-->
<!--                                <label class="form-label">Phone Number 2</label>-->
<!--                                <input type="text" class="form-control" placeholder="Phone number (Optional)" th:field="*{mobile}">-->
<!--                            </div>-->

                            <!-- Row 3 -->
                            <div class="col-sm-12 col-lg-6">
                                <label class="form-label">Email</label>
                                <input type="text" class="form-control" placeholder="Email (Required)" th:field="*{email}">
                            </div>

                            <div class="col-sm-12 col-lg-6">
                                <label class="form-label">Location</label>
                                <input type="text" class="form-control" placeholder="Location (Required)" th:field="*{location}">
                            </div>

                            <!-- Row 4 -->


                            <div class="col-sm-12 col-lg-6">
                                <label class="form-label">Physical Address</label>
                                <input type="text" class="form-control" placeholder="Address (Required)" th:field="*{physicalAddress}">
                            </div>

                            <div class="col-sm-12 col-lg-6">
                                <label class="form-label">Business Category</label>
                                <input type="text" class="form-control" placeholder="Category (Required)" th:field="*{category}">
                            </div>

                            <div class="col-sm-12 col-lg-6">
                                <label class="form-label">Tin Number</label>
                                <input type="text" class="form-control" placeholder="Tin Number (Required)" th:field="*{tinNumber}">
                            </div>

                            <!-- Website URL -->
                            <div class="col-sm-12 col-lg-12">
                                <label class="form-label">Website URL</label>
                                <input type="text" class="form-control" placeholder="https://www.bobrichie.com" th:field="*{link}">
                                <small>Social media, website, etc - related to your company</small>
                            </div>

                            <!-- Logo Upload -->
                            <div class="col-sm-6 col-lg-6">
                                <label class="form-label">Business Logo or Main Image (only .png files):</label>
                                <input type="file" multiple="false" name="imageFile" accept="image/png"> <br>
                            </div>

                            <!-- Divider -->
                            <hr>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="allowChecked" checked="">
                                <label class="form-check-label" for="allowChecked">
                                    I agree to terms & conditions
                                </label>
                            </div>

                            <div class="col-12 text-end">
                                <button type="submit" class="btn btn-primary mb-0">Register</button>
                                <button type="reset" class="btn btn-primary mb-0">Reset</button>
                            </div>
                        </form>
                    </div>
                    <!-- Create a page form END -->
                </div>
                <!-- Create a page END -->
            </div>

            <!-- Main content END -->

            <div th:replace="~{Fragments/NavRight}"></div>

        </div>
        <!-- Row END -->

    </div>
    <!-- Container END -->


</main>

</body>

<div th:replace="~{Fragments/footer}"></div>
