<div th:replace="~{Fragments/head}"></div>

<div class="gonza">

    <a href="/businessList">Directory</a>  <a href="/users">Users</a> <br><br>

<h4>APPLY TO ADD A BUSINESS</h4>
<p th:text="'Apply to add your business to the directory: '" />

<!--    <img th:src="@{/images/download.jpg}" style="width:300px;height:200px">-->


    <form th:action="@{/businessSubmit}" th:object="${business}" method="POST" enctype="multipart/form-data" >

    <p>Business Name: <input type="text" th:field="*{businessName}" placeholder="Business Name" id="businessName" /></p>
    <p>Email: <input type="email" th:field="*{email}" /></p>
    <p>Mobile: <input type="text" th:field="*{mobile}" /></p>
    <p>Street Address: <input type="text" th:field="*{physicalAddress}" /></p>
    <p>Location (e.g. Mwenge): <input type="text" th:field="*{location}" /></p>
    <p>Category: <input type="text" th:field="*{category}" /></p>
    <p>Tin Number: <input type="text" th:field="*{tinNumber}" /></p>
    <p>Link: Social media, website, etc - related to your company:</p>
    <input type="text" th:field="*{link}" />

    <br><br>

    <p>Logo:</p>
    <input type="file" multiple="true" name="logo" th:field="*{logo}"> <br>

    <br><br>

    <input type="submit" value="Create Profile" />
    <input type="reset" value="Reset" />
    <input type="submit" value="*Cancel" style="color:red"/>



</form>

</div>

<div th:replace="/Fragments/footer"></div>