<div th:replace="~{Fragments/head}"></div>

<div class="gonza">

    <h3>DIRECTORY HOMEPAGE</h3>

    <h5>USERS</h5><br>

    <a href="/userForm">Create User</a> <br><br>

    <a href="/userList">All Users</a> <br><br>



    <h5>BUSINESSES</h5>
    <a href="/businessForm">Add Your Business</a> <br><br>

    <a href="/businessList">All Businesses (Directory)</a> <br><br>


    <h3>PRODUCTS</h3><br>

    <a href="/productList">All Products</a> <br><br>



    <a href="/logout">Logout</a>

</div>

<div th:replace="~{Fragments/footer}"></div>
