<div th:replace="~{Fragments/head}"></div>

<div class="gonza">

    <h3>DIRECTORY OUTLINE</h3>

    <h5>USERS</h5>

    <a href="/userForm">Create User</a> <br><br>

    <a href="/userList">All Users</a> <br><br>



    <h5>BUSINESSES</h5>
    <a href="/businessForm">Add Your Business</a> <br><br>

    <a href="/businessList">All Businesses (Directory)</a> <br><br>


    <h5>PRODUCTS</h5>

    <a href="/productList">All Products</a> <br><br>
    <a href="https://buy.stripe.com/bIYfZAfbxdcN8pibIJ" target="_blank">Order Rims</a> <br><br>

    <h5>TAGS</h5>
    <a href="/tagForm">Add A Tag</a> <br><br>
    <a href="/tagList">All Product Tags</a> <br><br>


    <a href="/logout">Logout</a>

</div>

<div th:replace="~{Fragments/footer}"></div>
