<div th:replace="~{Fragments/head}"></div>

<div class="gonza">

    <h3>DIRECTORY HOMEPAGE</h3>

    <a href="/userFormCDN">Create USER (Save image to Fasthub CDN - requires debugging)</a> <br><br>

    <a href="/userFormAWS">Create USER (Save image to AWS - works locally)</a> <br><br>

    <a href="/userFormDB">Create USER (Save image to MySql DB - works)</a> <br><br>
    <br>

    <a href="/userList">All Users [Images from AWS & Fasthub CDN]</a> <br><br>

    <a href="/userListDB">All Users [Images from MySql DB]</a> <br><br>
    <br>


    <a href="/businessForm">Add Your Business</a> <br><br>

    <a href="/businessList">All Businesses (Directory)</a> <br><br>

    <a href="/logout">Logout</a>

</div>

<div th:replace="~{Fragments/footer}"></div>
