<div th:replace="~{Fragments/head}"></div>

<body>

<div th:replace="~{Fragments/MainNavbar}"></div>

<main>

<div class="container">

<div class="row g-4">

        <div th:replace="~{Fragments/NavLeft}"></div>

<!--        Main Content Start-->
        <div class="col-md-8 col-lg-6 vstack gap-4">

            <div class="card">


                <div class="card-header border-0 pb-0">
                    <h1 class="h4 card-title mb-0">PRODUCT PAGE</h1>
                    <br>
<!--                    <p th:text="'[Editing will be restricted to user]'" >-->
                </div>

                <div class="card-body">

<!--                    Product Id can't be null. ID is hidden  -->
                    <p th:text="'ID: ' + ${product.id}" style="display:none"> </p>

                    <img th:src="${product.getImageOneUrl()}" width="150" height="100" alt="Product Picture" >

                    <br><br>
                    <b><a th:href="${product.paymentLink}" target="_blank" style="padding: 15px 25px; background-color: yellow; text-align: center">ORDER NOW</a></b> <br><br>
                    <p th:text="'Product ID: ' + ${product.id}" style="display: inline"> </p>


                    <b><p th:text="'Product Name: ' + ${product.productName}" > </p></b>
                    <p th:text="'Alternative Names: ' + ${product.alternativeNames}" >
                    <p th:text="'Tags: '" >

                    <div>
                         <a th:href="@{/productList/(keyword=${tag.tagTitle})}" th:each="tag : ${product.tagList}" th:text="${tag.tagTitle} + ', '"> </a>
                    </div>
                    <br>


                    <p th:text="'Brand: ' + ${product.brand}" >
                    <p th:text="'Price: ' + ${product.price}" >
                    <p th:text="'Description: ' + ${product.description}" >

                    <p th:text="'Business Name: '"></p>
                    <a th:href="@{/businessPage/{id}(id=${product.getProductSubject().getId()})}" th:text="${product.getProductSubject().getBusinessName()}" > </a>

                    <br><br>

                    <form th:action="@{/productEdit/{id}(id=${product.id})}" th:object="${product}" method="GET">
                        <input type="submit" value="Edit" />
                    </form>

                    <form th:action="@{/productDelete/{id}(id=${product.id})}">
                        <input type="submit" value="Delete" style="color:red" />
                    </form>

                    <form th:action="@{/businessList}">
                        <input type="submit" value="Back to Directory" style="color:blue" />
                    </form>

                    <p th:text="'Choose a Sponsorship Level'"></p>
                    <form th:action="@{/sponsorSubmit(productId=${product.id})}" method="post">
                        <input type="hidden" name="productId" th:value="${productId}" />

                        <!-- Options for selecting a level -->
                        <div>
                            <label>
                                <input type="radio" name="sponsorLevel" value="1" data-fee="500" required /> Level 1 - Tsh 500
                            </label><br/>
                            <label>
                                <input type="radio" name="sponsorLevel" value="2" data-fee="600" /> Level 2 - Tsh 600
                            </label><br/>
                            <label>
                                <input type="radio" name="sponsorLevel" value="3" data-fee="700" /> Level 3 - Tsh 700
                            </label><br/>
                            <label>
                                <input type="radio" name="sponsorLevel" value="4" data-fee="800" /> Level 4 - Tsh 800
                            </label><br/>
                            <label>
                                <input type="radio" name="sponsorLevel" value="5" data-fee="900" /> Level 5 - Tsh 900
                            </label><br/>
                            <label>
                                <input type="radio" name="sponsorLevel" value="6" data-fee="1000" /> Level 6 - Tsh 1000
                            </label><br/>
                            <label>
                                <input type="radio" name="sponsorLevel" value="7" data-fee="1100" /> Level 7 - Tsh 1,100
                            </label><br/>
                            <label>
                                <input type="radio" name="sponsorLevel" value="8" data-fee="1200" /> Level 8 - Tsh 1,200
                            </label><br/>
                            <label>
                                <input type="radio" name="sponsorLevel" value="9" data-fee="1300" /> Level 9 - Tsh 1,300
                            </label><br/>
                        </div>

                        <!-- Submit button -->
                        <input type="submit" value="Submit" />
                    </form>


                </div>

            </div>

        </div>
<!--        Main Content End-->

        <div th:replace="~{Fragments/NavRight}"></div>

</div>

</div>

</main>
</body>

<div th:replace="~{Fragments/footer}"></div>
