<div th:replace="~{Fragments/head}"></div>

<body>

<div th:replace="~{Fragments/MainNavbar}"></div>

<main>

    <!-- Container START -->
    <div class="container">
        <div class="row g-4">

            <div th:replace="~{Fragments/NavLeft}"></div>

            <!-- Main content START -->
            <div class="col-md-8 col-lg-6 vstack gap-4">

                <!-- Create a page START -->
                <div class="card">
                    <!-- Title START -->
                    <div class="card-header border-0 pb-0">
                        <h1 class="h4 card-title mb-0">Product Register </h1> <h5>[Image saved to MySql Database]</h5>
                    </div>
                    <!-- Title END -->

                    <!-- Create a page form START -->
                    <div class="card-body">
                            <form th:action="@{/productSubmit}" th:object="${product}" method="POST" enctype="multipart/form-data" class="row g-3" >

                            <div class="col-sm-6 col-lg-4">
                                <label for="productName" class="form-label">Product name</label>
                                <input type="text" class="form-control" id="productName" th:field="*{productName}" placeholder="">
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <label for="alternativeNames" class="form-label">Alternative names</label>
                                <input type="text" class="form-control" id="alternativeNames" th:field="*{alternativeNames}" placeholder="">
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <label for="tags" class="form-label">Tags</label>
                                <input type="text" class="form-control" id="tags" th:field="*{tags}" >
                            </div>
                            <div class="col-lg-6">
                                <label for="brand" class="form-label">Brand</label>
                                <input type="text" class="form-control" id="brand" th:field="*{brand}">
                            </div>
                            <div class="col-lg-6">
                                <label for="price" class="form-label">Price</label>
                                <input type="text" class="form-control" id="price" th:field="*{price}">
                            </div>

                            <div class="col-lg-6">
                                <label for="description" class="form-label">Product Description</label>
                                <input type="text" class="form-control" id="description" th:field="*{description}">
                            </div>



                            <div>
<!--                                TODO: Accept jpg, jpeg-->
                                <label class="form-label">Product Picture (only .png files):</label><br>
                                <input type="file" multiple="false" name="imageFile1" accept="image/png" >
                                <input type="file" multiple="false" name="imageFile2" accept="image/png" >


                            </div>

                            <!-- Divider -->
                            <hr>


                            <div class="col-12 text-end">
                                <button type="submit" class="btn btn-primary mb-0">Register</button>
                            </div>
                        </form>
                    </div>
                    <!-- Create a page form END -->
                </div>
                <!-- Create a page END -->
            </div>

            <!-- Main Content END-->

            <div th:replace="~{Fragments/NavRight}"></div>

        </div>
        <!-- Row END -->
    </div>
    <!-- Container END -->

</main>
<div th:replace="~{Fragments/footer}"></div>
