<div th:replace="~{Fragments/head}"></div>

<body>

<div th:replace="~{Fragments/MainNavbar}"></div>

<main>

<!--    Container START -->

    <div class="container">

        <!--    Row  START  -->
        <div class="row g-4">

        <div th:replace="~{Fragments/NavLeft}"></div>

<!--        Main Content START  -->
    <div class="col-md-8 col-lg-6 vstack gap-4">

        <div class="card">

            <div class="card-header border-0 pb-0">
                <h1 class="h4 card-title mb-0">EDIT YOUR REVIEW</h1>
                <p th:text="'Edit your review below:'" />
            </div>

            <div class="card-body">

                <p th:text="'ID:' + ${review.getId}" style="display:none" />  <!-- Hidden -->

                <p th:text="'Review ID [To be hidden]: ' + ${review.getId}"/>  <!-- TODO Hide ID -->

<!--                <form th:action="@{/updateReview/{bizId}(bizId=${business.getId})/{reviewId}(reviewId=${review.getId()})}" th:object="${review}" method="post">-->

<!--                <form th:action="@{/updateReviewTemp}" th:object="${review}" method="post">-->

                <form th:action="@{/reviewUpdate/{id}(id=${review.id})}" th:object="${review}" method="post">

                    <input type="text" th:field="*{reviewContent}" />
                    <input type="text" th:field="*{reviewWriterName}" />

                    <br>
                    <button type="submit"> Submit </button>

<!--                    Todo: cancel button-->
                <!--    <input type="submit" value="Cancel" style="color:red"/>-->

                </form>
            </div>

        </div>

    </div>
<!--        Main Content End    -->

    <div th:replace="~{Fragments/NavRight}"></div>

</div>
<!--    Row END -->

</div>
<!--    Container END   -->

</main>
</body>>

<div th:replace="~{Fragments/footer}"></div>
