<div th:replace="~{Fragments/head}"></div>

<body>

<div th:replace="~{Fragments/MainNavbar}"></div>

<main>

    <!-- Container START -->

    <div class="container">

        <div class="row g-4">

            <div th:replace="~{Fragments/NavLeft}"></div>

            <!-- Main content START : vstack -->

            <div class="col-md-8 col-lg-6 vstack gap-4">

                <div class="card">

                    <div class="card-header border-0 pb-0">
                        <h1 class="mb-md-0">CONFIRM USER PROFILE </h1>
                        <p th:text="'Below are the details you submited.'" >
                    </div>

                    <div class="card-body">


                        <div class="col-sm-6 col-md-4 col-xl-4 col-xxl-4">

                        <!-- User Info -->

    <!--                    <img th:src="'Profile Pic: ' + ${user.profilePicUrl}" width="50" height="50" alt="">-->

                            <p th:text="'First Name: ' + ${user.firstName}" > <br>
                            <p th:text="'Last Name: ' + ${user.lastName}" > <br>
                            <p th:text="'Mobile: ' + ${user.mobile}" > <br>

                            <p th:text="'Email: ' + ${user.userEmail}" > <br>

                            <p th:text="'Password: [Will be hidden]' + ${user.password}" >

                            <form th:action="@{/userList}" >
                                <input type="submit" value="OK" />
                            </form>


                        </div>

                    </div>

                </div>

            </div>

            <!-- Main content END -->

            <div th:replace="~{Fragments/NavRight}"></div>

        </div>
        <!-- Row g-4 END -->

    </div>
    <!-- Container END -->


</main>

</body>

<div th:replace="~{Fragments/footer}"></div>
