<div th:replace="~{Fragments/head}"></div>

<body>

<div th:replace="~{Fragments/MainNavbar}"></div>

<main>

    <!-- Container START -->

    <div class="container">

        <div class="row g-4">

            <!--Navigation LEFT-->
            <div th:replace="~{Fragments/NavLeft}"></div>

            <!------- Main content START : vstack ----------------------------->

            <div class="col-md-8 col-lg-6 vstack gap-4">

                <div class="card">

                    <div class="card-header border-0 pb-0">
                        <h1 class="h4 card-title mb-0">LIST OF USERS</h1>
                        <p th:text="'Below are the users on this platform. [ID, Email & Phone will be restricted to user]'" />
                        <p th:text="'If you do not have an account:'" /> <a href="/userCreateDto">REGISTER!</a> <br>
                    </div>

                    <div class="card-body">

                        <div class="col-sm-6 col-md-4 col-xl-4 col-xxl-4">

                            <dl th:each="user : ${user}" class="card position-relative">

                                <dd>
<!--                                    For displaying images from AWS or Fasthub CDN-->
                                    <img th:src="${user.profilePicUrl}" width="50" height="50" alt="">

<!--                                    For displaying images from MySql database-->
<!--                                    <img th:src="@{'data:profile_picture/png;base64, '+${user.profilePicture}}" width="50" height="50" alt="">-->
                                </dd>
                                <dd>
                                    <span th:text="'ID: '+${user.getId}"></span>
                                </dd>
                                <dd>
                                    <a class="stretched-link" th:href="@{/userPage/{id}(id=${user.id})}"><span th:text="${user.firstName}+' '+${user.lastName}"></span></a>
                                </dd>

<!--                                <dd> <span th:text="${user.getUserEmail}"></span> </dd>-->
<!--                                <dd> <span th:text="${user.getMobile}"></span> </dd>-->

                            </dl>

                        </div>

                    </div>

                </div>
            </div>

            <!-------- Main content END ---------------------------------------->

            <!--Navigation RIGHT-->
            <div th:replace="~{Fragments/NavRight}"></div>

        </div>
        <!-- Row END -->

    </div>
    <!-- Container END -->


</main>

</body>

<div th:replace="~{Fragments/footer}"></div>

