<div th:replace="~{Fragments/head}"></div>

<div class="gonza">

<h4>CONFIRM USER PROFILE</h4>
<p th:text="'Welcome! Below are the details you submited. You can go to your page to edit.'" />

<!--    <img th:src="'Profile Pic: ' + ${user.profilePicUrl}" width="50" height="50" alt="">-->


    <p th:text="'ID*: ' + ${user.id}" />

<p th:text="'First Name: ' + ${user.firstName}" />
<p th:text="'Last Name: ' + ${user.lastName}" />
<p th:text="'Mobile: ' + ${user.mobile}" />

<p th:text="'Email: ' + ${user.userEmail}" />

<!--<p th:text="'Password: ' + ${user.password}" />-->

<form th:action="@{/users}" >
<input type="submit" value="OK" />
</form>

<!--<form th:action="@{/editUser/{id}(id=${user.id})}" th:object="${user}" method="GET">-->
<!--    <input type="submit" value="Edit" />-->
<!--</form>-->



</div>

<div th:replace="~{Fragments/footer}"></div>
