<div th:replace="~{Fragments/head}"></div>

<body>

<div th:replace="~{Fragments/MainNavbar}"></div>

<main>

<div class="container">

<div class="row g-4">

        <div th:replace="~{Fragments/NavLeft}"></div>

<!--        Main Content Start-->
        <div class="col-md-8 col-lg-6 vstack gap-4">

            <div class="card">


                <div class="card-header border-0 pb-0">
                    <h1 class="h4 card-title mb-0">USER PROFILE</h1>
                    <br>
                    <p th:text="'[Editing and the ID, Phone & Email will be restricted to user]'" />
                </div>

                <div class="card-body">

                    <h5> <p th:text="'ID: ' + ${user.getId}" /> </h5>

                    <img th:src="${user.getProfilePicUrl()}" width="150" height="100" alt="">


<!--                    <img th:src="@{'/images/users/'+${user.getId}+'/'+${user.getProfilePicName}}" width="150" height="100" alt="">-->

                    <p th:text="'First Name: ' + ${user.firstName}" />
                    <p th:text="'Last Name: ' + ${user.lastName}" />

                    <p th:text="'Mobile: ' + ${user.mobile}" />

                    <p th:text="'Mobile: ' + ${user.userEmail}" />

                    <form th:action="@{/userEdit/{id}(id=${user.id})}" th:object="${user}" method="GET">
                        <input type="submit" value="Edit" />
                    </form>

                    <form>
                        <!-- TODO: Implement DELETE function-->
                        <input type="submit" value="*Delete*" style="color:red" />
                    </form>

                </div>

            </div>

        </div>
<!--        Main Content End-->

        <div th:replace="~{Fragments/NavRight}"></div>

</div>

</div>

</main>
</body>

<div th:replace="~{Fragments/footer}"></div>
