<div th:replace="~{Fragments/head}"></div>
<div class="gonza">

    <a href="/">Home</a> <a href="/businessList">Directory</a>  <a href="/users">Users</a> <br><br>

    <h4>USERS</h4>
    <p th:text="'Here is a list of users *(id + name):'" />
    <a href="/userCreateForm">Sign-Up.</a> <br><br>


    <dl th:each="user : ${user}">



        <dd>
            <img th:src="${user.getProfilePicUrl()}" width="50" height="50" alt="">
        </dd>

        <dd> <span th:text="${user.getId}"></span> </dd>

        <dd> <b th:text="${user.getFirstName}+' '+${user.getLastName}"> </b> </dd>

<!--        <dd> <i class="fa-solid fa-envelope"></i> <span th:text="${user.getUserEmail}"></span> </dd>-->
<!--        <dd> <i class="fa-solid fa-phone"></i> <span th:text="${user.getMobile}"></span> </dd>-->

<!--        <dd>-->
<!--            <form action="#" th:action="@{/editUser/{id}(id=${user.id})}" th:object="${user}" method="GET">-->
<!--                <input type="submit" value="Edit" />-->
<!--            </form>-->

<!--            <form action="#" th:action="@{/delete/{id}(id=${user.id})}" method="get">-->
<!--                <input type="submit" value="Delete" style="color:red" />-->
<!--            </form>-->
<!--        </dd>-->

        <hr>
    </dl>


</div>


<div th:replace="~{Fragments/footer}"></div>
