<div th:replace="~{Fragments/head}"></div>

<body>

<div th:replace="~{Fragments/MainNavbar}"></div>

<main>

    <!-- Container START -->
    <div class="container">
        <div class="row g-4">

            <div th:replace="~{Fragments/NavLeft}"></div>
            <!-- Main content START -->
            <div class="col-md-8 col-lg-6 vstack gap-4">
                <!-- Create a page START -->
                <div class="card">
                    <!-- Title START -->
                    <div class="card-header border-0 pb-0">
                        <h1 class="h4 card-title mb-0">Account Register | Signup</h1>
                    </div>
                    <!-- Title END -->

                    <!-- Create a page form START -->
                    <div class="card-body">
                            <form th:action="@{/userSubmit}" th:object="${user}" method="POST" enctype="multipart/form-data" class="row g-3" >

                            <!-- Display name -->
                            <div class="col-sm-6 col-lg-4">
                                <label for="firstName" class="form-label">First name</label>
                                <input type="text" class="form-control" id="firstName" th:field="*{firstName}" placeholder="">
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <label for="lastName" class="form-label">Last name</label>
                                <input type="text" class="form-control" id="lastName" th:field="*{lastName}" placeholder="">
                            </div>
                            <!-- Email -->
                            <div class="col-sm-6 col-lg-4">
                                <label for="email" class="form-label">Email</label>
                                <input type="text" class="form-control" id="email" th:field="*{userEmail}" >
                            </div>

                            <div class="col-lg-6">
                                <label for="mobile" class="form-label">Phone number</label>
                                <input type="text" class="form-control" id="mobile" th:field="*{mobile}">
                            </div>

<!--                                ToDo: Phone 2-->
                            <!-- Phone number -->
<!--                            <div class="col-lg-6">-->
<!--                                <label class="form-label">Phone number 2</label>-->
<!--                                <input type="text" class="form-control" placeholder="Phone number">-->
<!--                            </div>-->

                            <div class="col-lg-6">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" th:field="*{password}">
                            </div>

                            <div>
<!--                                TODO: Accept jpg, jpeg-->
                                <label class="form-label">Profile Picture (only .png files):</label><br>
                                <input type="file" multiple="false" name="file" accept="image/png" >

                            </div>

<!--                                ToDo: Confirm password-->
<!--                            <div class="col-lg-6">-->
<!--                                <label class="form-label">Confirm password</label>-->
<!--                                <input type="password" class="form-control" placeholder="Confirm password">-->
<!--                            </div>-->
                            <!-- Divider -->
                            <hr>

                            <!-- Social Links START -->
                            <div class="col-12">
                                <p>You will receive a PIN code on your phone to confirm your registration</p>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="allowChecked" checked="">
                                <label class="form-check-label" for="allowChecked">
                                    I agree to the terms & conditions
                                </label>
                            </div>

                            <div class="col-12 text-end">
                                <button type="submit" class="btn btn-primary mb-0">Register</button>
                            </div>
                        </form>
                    </div>
                    <!-- Create a page form END -->
                </div>
                <!-- Create a page END -->
            </div>

            <div th:replace="~{Fragments/NavRight}"></div>



        </div>
        <!-- Row END -->
    </div>
    <!-- Container END -->

</main>
<div th:replace="~{Fragments/footer}"></div>
